@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,900&display=swap');

html,
body {
	max-width: 100%;
	overflow-x: hidden;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	color: white;
	background-color: rgb(37, 37, 41);
}

main {
	display: flex;
	justify-content: center;
}

main .content {
	margin-top: 5em;
}

h1 {
	font-size: 3em;
	font-weight: 900;
	line-height: 1em;
}

#main_info {
	font-size: 1em;
	line-height: 1.8em;
	text-align: justify;
	margin-bottom: 80px;
}

#racing_types {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

#racing_types .type_content {
	background-color: rgb(20, 20, 27);
	margin-bottom: 2em;
	width: 100%;
}

#racing_types .type_image {
	width: 100%;
	height: 400px;
	overflow: hidden;
}

#racing_types .type_image img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	transition: 0.2s ease-in;
}

#racing_types .type_image img:hover {
	filter: brightness(0.6);
	transform: scale(1.1);
}

#racing_types .type_description {
	text-align: left;
	padding: 1em 2em 2em;
	/* border: 1.5px solid rgb(151, 151, 151); */
	border-top: none;
}

#racing_types .type_description h2 {
	margin: 0 0 1em;
	font-size: 1.8em;
	font-style: italic;
	font-weight: 900;
	letter-spacing: 0.05em;
}

@media (max-width: 999px) {
	#main_info {
		font-size: 1.2em;
	}

	h1 {
		font-size: 1.9em;
		text-align: center;
	}

	main .content {
		max-width: 80%;
		margin-left: 2em;
		margin-right: 2em;
	}

	#racing_types .type_description {
		font-size: 1.2em;
	}

	#racing_types .type_description h2 {
		text-align: center;
		font-size: 1.3em;

	}

	#racing_types .type_image {
		width: 100%;
		height: 100%;
	}
}

@media (min-width: 1000px) {
	main .content {
		width: 900px;
	}
}

@media (min-width: 1350px) {
	main .content {
		width: 1200px;
	}

	#racing_types .type_content {
		margin-bottom: 2em;
		width: 48%;
	}
}

@media (min-width: 1550px) {
	main .content {
		width: 1500px;
	}
}