@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap');

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	color: white;
	background-color: rgb(37, 37, 41);
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	font-style: italic;
}

main .content {
	margin-top: 5em;
}

#main_info {    
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1em;
	line-height: 1.8em;
	text-align: justify;
	margin-bottom: 80px;
}

#main_info .img_container{
    display: flex;
	justify-content: center;
	align-items: center;
    position: relative;
    margin: 3em 0;
    transition: 0.2s ease-in;
}

#main_info .img_container img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: inherit;
}

#main_info .img_container p{
    opacity: 0;
    position: absolute;
    margin:0;
    transition: inherit;
}

#main_info .img_container:hover img{
    filter: brightness(0.1);
}

#main_info .img_container:hover p{
    opacity:1;
}

@media (max-width: 1049px) {
	main .content {
		margin-left: 2em;
		margin-right: 2em;
	}

    #main_info .img_container{
        width: 80%;
    } 
}

@media (min-width: 1050px) {
	main .content {
		width: 1000px;
	}

    #main_info .img_container{
        width: 80%;
    }
}
