@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: rgb(37, 37, 41);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3em;
    font-weight: 900;
    line-height: 1em;
    text-align: center;
}

main .content {
    margin-top: 5em;
    position: relative;
}


/* ASIDE NAVIGATION */
aside {
    position: fixed;
    top: 80px;
    bottom: 300px;
    left: 0;
    /* background-color: rgb(20, 20, 27); */
    border-right: 1px solid white;
}

aside p {
    margin: 1em 2em;
    padding: 0;
}

aside ul {
    margin: 2em 2em;
    padding: 0;
}

aside li {
    padding: 0.5em 0;
}

aside a {
    text-decoration: none;
    color: white;
}

aside a:hover,
aside a:active {
    color: red;
}

@media (max-width: 1465px) {
    aside {
        display: none;
    }
}


/* CONTENT */
#main_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    text-align: justify;
    margin-bottom: 80px;
}

#main_info h2 {
    margin-bottom: 0;
    font-size: 2em;
}

#main_info p {
    line-height: 1.8em;
    margin-top: 0;
}

#main_info .img_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 3em 0;
    transition: all 0.2s ease-in;
}

#main_info .img_container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: inherit;
}

@media (max-width: 1049px) {
    #main_info h1 {
        font-size: 1.9em;
        text-align: center;
    }

    #main_info h2 {
        font-size: 1.5em;
        text-align: center;

    }

    main .content {
        max-width: 80%;
        margin-left: 2em;
        margin-right: 2em;
    }

    #main_info .img_container {
        margin: 1.8em 0;
        width: 100%;
    }


}

@media (min-width: 1050px) {
    main .content {
        width: 1000px;
    }

    #main_info .img_container {
        width: 80%;
    }
}